@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}


html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Rufina", serif;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.4rem;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );

  padding: 1.6rem 3.2rem;
  border: none;
  color: rgb(255 255 255);
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
  color: rgb(255 255 255);
}

.section {
  padding: 9rem 0;
  
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-col {
  grid-template-columns: repeat(4, 1fr);
}

.common-heading{
  font-size: 4.6rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before{
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--helper);
}

.common-heading::after{
  content: "";
  position: absolute;
  top: 128%;
  left: 1.5rem;
  min-width: 20rem;
  height: 0.3rem;
  background: var(--helper);


}

/* ===========================================
Header Section Start
======================================= */

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
}

.header .logo {
  height: 3rem;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}



/* ===========================================
Hero  Section Start
======================================= */

.section-hero {
  background: var(--bg);
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-top-data {
  text-transform: uppercase;
  color: var(--heading);
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--helper);
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.4rem;
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}

.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 80%;
}

/* ==========================
      Bio section
============================= */

.bio-image{
  display: flex;
  justify-content: center;
  align-items: center;
}


.bio-image img{
  width: 70%;
  box-shadow: -2rem -2rem 0 0 var(--helper);
  display: inline-block;
}

.bio-data-stats{
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  gap: 3rem;

}

.bio-progress-bar{
  width: 90%;
  height: 0.8rem;
  background-color: var(--para-tint);
  border-radius: 10rem;
  position: relative;
  box-shadow: var(--shadow);
}

h3{
  font-size: 1.8rem;
  font-weight: 400;
}

.bio-stats h3{
  margin-bottom: 10px;
}

.bio-progress-bar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: var(--gradient);
  border-radius: 10rem;
}

.bio-progress-2::before{
  width: 95%;
}

.bio-progress-3::before{
  width: 85%;
}

.bio-progress-4::before{
  width: 75%;
}

.bio-progress-5::before{
  width: 85%;
}

.bio-progress-bar span{
  position: absolute;
  top: 1.8rem;
  width: 4rem;
  height: 2rem;
  background: var(--helper);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 0;
}

.bio-progress-bar span{
  left: 76%;
}

.bio-progress-2 span{
  left: 91%;
}

.bio-progress-3 span{
  left: 81%;
}

.bio-progress-4 span{
  left: 71%;
}

.bio-progress-5 span{
  left: 81%;
}

/* to create a caret */
.bio-progress-bar span::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8rem solid var(--helper);
  border-color: transparent;
  border-bottom-color: var(--helper);
  top: -1.6rem;
}

/* ==========================
      Portfolio section
============================= */
.section-portfolio{
  background: var(--bg);
  transition: all 0.7s linear;
}

.section-portfolio p{
  max-width: 60rem;
}

.p-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin: 5rem 0;
}

.portfolio-images{
  gap: 3rem;
}

.portfolio-images img{
  width: 100%;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.img-overlay{
  position: relative;
  overflow: hidden;
}

.img-overlay .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient);
  /* opacity: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 7px;
}

.img-overlay:hover > .overlay{
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
}

.img-overlay .common-heading{
  margin: 0;
  color: white;
  text-decoration: none;
}

.p-btn-active{
  transform: translateY(-1rem);
}

.p-image-not-active{
  display: none;
}

/*========================
  Work counter
========================== */

.section-work-data
{
  display: flex;
  text-align: center;
  color: white;
  transition: all 0.7s linear;

}

.section-work-data .container{
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.counter-numbers{
  font-size: 4rem;
}

.section-work-data p{
  color: white;
  text-transform: capitalize;
}
